.ingredientCard__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  position: relative;
  width: 272px;
  max-height: 208px;
}

.ingredientCard__price {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.ingredientCard__name {
  text-align: center;
  height: 48px;
}