.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  background-color: #131316;
  margin-top: 40px;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media screen and (max-width: 1266px) {
  .main {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}