.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1280px;
  margin-top: 40px;
  gap: 60px;
}

.column {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  width: 320px;
}

.column a {
  text-decoration: none;
  height: 64px;
}

.column a:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: end;
}

.row:first-child {
  padding-top: 80px;
}

.row:first-of-type {
  padding-top: 80px;
}

.text {
  margin: 0;
  text-align: center;
}

.active {
  font-family: 'Jet Brains Mono';
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  padding-top: 120px;
}

.form input {
  color: #8585AD;
}

.form button {
  width: 180px;
  align-self: center;
  justify-self: center;
}

.link {
  font-family: 'Jet Brains Mono';
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
  color: #4C4CFF;
  text-decoration: none;
}
