@import url(../../fonts/fonts.css);

.appHeader__header {
  font-family: 'Jet Brains Mono', Arial, sans-serif;
  background-color: #1C1C21;
}

.appHeader__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.appHeader__left-links {
  display: flex;
  flex-direction: row;
}

.appHeader__active-link svg {
  color: #F2F2F3;
  fill: #F2F2F3;
}

.appHeader__link {
  font-family: 'Jet Brains Mono', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 8px;
}

.appHeader__active-link {
  color: #F2F2F3;
}

.appHeader__padding-to-right {
  padding-left: 188px;
}