.section {
  padding-top: 100px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.p1 {
  padding: 16px 24px;
  display: inline-block;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  max-width: 536px;
  width: 536px;
  min-height: 80px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F3;
  flex-grow: 1;
  box-sizing: border-box;
  border-radius: 88px 88px 40px 40px;
  justify-items: center;
  text-align: center;
  display: flex;
  align-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.p2 {
  padding: 16px 24px;
  display: inline-block;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  max-width: 536px;
  width: 536px;
  min-height: 80px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F3;
  flex-grow: 1;
  box-sizing: border-box;
  border-radius: 40px;
  justify-items: center;
  text-align: center;
  display: flex;
  align-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-left: 20px;
}

.p3 {
  padding: 16px 24px;
  display: inline-block;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  max-width: 536px;
  width: 536px;
  min-height: 80px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F3;
  flex-grow: 1;
  box-sizing: border-box;
  border-radius: 40px 40px 88px 88px;
  justify-items: center;
  text-align: center;
  display: flex;
  align-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  list-style: none;
}

.fun {
  padding-left: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}

.sum {
  display: flex;
  flex-direction: row;
  align-items: end;
  align-items: center;
  justify-content: flex-end;
  padding-top: 40px;
}

.sum svg {
  width: 33px; 
  height: 33px;
  padding-left: 10px;
  padding-right: 40px;
}

.scroll {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 560px);
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.scroll {
  scrollbar-color: #8585AD #2F2F37; 
  scrollbar-width: 8px; 
}

.text {
  color: #8585AD;
  padding-left: 32px;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 16px 0 16px 100px;
}