.dataBlock {
  display: flex;
  flex-direction: row;  
  list-style: none;
  margin: 0;
  padding: 32px 0 20px 0;
  gap: 20px;
}

.li {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 112px;
  min-height: 24px;
  gap: 8px;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divRow {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
}

.div h2 {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  padding-bottom: 40px;
  align-self: center;
}

.ingredientDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 796px;
  justify-content: space-between;
  position: relative;
}

.ingredientsContainerDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 24px 0 40px 0;
}

:root {
  --shadow-box-color_modal: rgba(0, 0, 0, 0.04);
  --border-color_modal: rgba(76, 76, 255, 0.2);
  --bg-color_overlay: rgba(0, 0, 0, 0.6);
  --bg-color_element: #1c1c21;
  --text-color_ready: #00cccc;
  --gradient-color_1: #4c4cff;
  --gradient-color_2: #801ab2;
}

.items_list {
  display: flex;
  flex-direction: row;
  width: fit-content;
  color: white;
}

.items_picture {
  margin-left: -8px;
}

.items_list > .items_picture:last-child {
  margin-left: 0;
}

.feedPage__digits-num {
  color: #00CCCC;
}

.container {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 100px;
  border: 2px solid transparent;
  box-sizing: border-box;
  background: linear-gradient(var(--bg-color_element), var(--bg-color_element))
      content-box,
    linear-gradient(var(--gradient-color_1), var(--gradient-color_2)) border-box;
    z-index: 10;
}

.picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.overflow {
  background: var(--bg-color_overlay) content-box;
}
